* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.wrapper {
  width: 620px;
  padding: 40px 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}

.wrapper__head {
  border-bottom: 1px dashed gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.wrapper__head__title {
  font-size: 32px;
  background-color: orange;
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.wrapper__head__subtitle {
  /* website 기준 본문 컨텐츠 common size 16-18px */
  font-size: 18px;
  padding: 10px 0;
}

#point {
  color: orange;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  /* span display 속성을 바꿔주면서 margin 속성이 적용될 수 있도록 함 */
  display: block;
  margin-top: 15px;
}

.wrapper__body {
  border: 1px solid #dddddd;
  padding: 20px 30px;
  border-radius: 10px;
}

.diary_title {
  font-size: 18px;
  font-weight: 600;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

.kimchi {
  color: red;
  font-weight: 600;
}

.egg {
  color: orange;
  font-weight: 600;
}

.highlight {
  font-size: 22px;
  color: blue;
  font-weight: 700;
  font-style: italic;
}

.diary_date {
  color: #919191;
  text-align: right;
}
